{% extends 'item.html' %}
{% block title %}
Bed
{% endblock title %}


{% block body %}
<div class="container">
    <div class="col-md-12 p-mob-0">
        <h2 class="page-title" style="color: #0d6efd;text-Britannic Bold:center">BED ROOM FURNITURE</h2>
    <div>
<div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/bed1.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $4500</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
      
       <a class="Sofa-item " href="#" >
        <input type="image" src="/static/bed2.jpg" style="border: double;" height="350" width="415"/>
    </a>
      <div class="card-body">
        <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $5646</p>
        <div class="d-grid gap-2">
          <button class="btn btn-secondary" type="button">Add to Cart</button>
         </div>

      <div class="d-flex justify-content-between align-items-center">
      </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        
  
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/bed3.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $3569</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>

        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card shadow-sm">
  
  
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/bed4.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $8797</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
 
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
      
        
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/bed5.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $5652</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/bed6.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $5674</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>

   
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
  
    <div class="col">
      <div class="card shadow-sm">
        
  
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/bed7.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $2443</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        
  
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/bed8.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $9099</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>

        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
    
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/bed9.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $1234</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>

        <div class="d-flex justify-content-between align-items-center">
        </div>
    </div>
  </div>\
</div>
<div class="col">
  <div class="card shadow-sm">
    <a class="Sofa-item " href="#" >
        <input type="image" src="/static/bed10.jpg" style="border: double;" height="350" width="415"/>
    </a>
    <div class="card-body">
      <p class="card-text" style="text-align:center">Chair<br> $5674</p>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button">Add to Cart</button>
       </div>
      
 
      <div class="d-flex justify-content-between align-items-center">
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm">
    <a class="Sofa-item " href="#" >
        <input type="image" src="/static/bed11.jpg" style="border: double;" height="350" width="415"/>
    </a>
    <div class="card-body">
      <p class="card-text" style="text-align:center">Bornholm Engineered Wood Queen Size Box Storage Upholstered Bed In Finish<br> $6780</p>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button">Add to Cart</button>
       </div>
      
 
      <div class="d-flex justify-content-between align-items-center">
      </div>
    </div>
  </div>
</div>

<div class="col">
  <div class="card shadow-sm">
    <a class="Sofa-item " href="#" >
        <input type="image" src="/static/bed12.jpg" style="border: double;" height="350" width="415"/>
    </a>
    <div class="card-body">
      <p class="card-text" style="text-align:center">Arabia Capra Solid Wood 6 Seater Dining Table With Set Of Chairs In Teak Finish<br> $6764</p>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button">Add to Cart</button>
       </div>
      

      <div class="d-flex justify-content-between align-items-center">
        
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm">
    <a class="Sofa-item " href="#" >
        <input type="image" src="/static/bed13.jpg" style="border: double;" height="350" width="415"/>
    </a>
    <div class="card-body">
      <p class="card-text" style="text-align:center">Zephyr Solid Wood 2 Door Wardrobe In Teak Finish<br> $5674</p>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button">Add to Cart</button>
       </div>

      <div class="d-flex justify-content-between align-items-center">
        
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm">
    <a class="Sofa-item " href="#" >
        <input type="image" src="/static/bed14.jpg" style="border: double;" height="350" width="415"/>
    </a>
    <div class="card-body">
      <p class="card-text" style="text-align:center">Aquila Solid Wood Dining Bench In Semi Gloss Finish<br> $5674</p>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button">Add to Cart</button>
       </div>
   
      <div class="d-flex justify-content-between align-items-center">
        
      </div>
    </div>
  </div>
</div>

<div class="col">
  <div class="card shadow-sm">
    <a class="Sofa-item " href="#" >
        <input type="image" src="/static/bed15.jpg" style="border: double;" height="350" width="415"/>
    </a>
    <div class="card-body">
      <p class="card-text" style="text-align:center">Madonna Lounge Chair In Black Colour<br> $6757</p>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button">Add to Cart</button>
       </div>
      
    
      <div class="d-flex justify-content-between align-items-center">
       
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm">
    <a class="Sofa-item " href="#" >
        <input type="image" src="/static/bed16.jpg" style="border: double;" height="350" width="415"/>
    </a>
    <div class="card-body">
      <p class="card-text" style="text-align:center">Napper Sofa - Single Seater<br> $5674</p>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button">Add to Cart</button>
       </div>
    
      <div class="d-flex justify-content-between align-items-center">
        
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm">
    <a class="Sofa-item " href="#" >
        <input type="image" src="/static/bed17.jpg" style="border: double;" height="350" width="415"/>
    </a>
    <div class="card-body">
      <p class="card-text" style="text-align:center">Checkers 5 Tier Bookshelf in Walnut Colour<br> $6784</p>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button">Add to Cart</button>
       </div>
    
    <div class="d-flex justify-content-between align-items-center">
        
    </div>  
  </div>
</div>
</div>
<div class="col">
<div class="card shadow-sm">
  <a class="Sofa-item " href="#" >
      <input type="image" src="/static/bed18.jpg" style="border: double;" height="350" width="415"/>
  </a>
  <div class="card-body">
    <p class="card-text" style="text-align:center">Checkers 5 Tier Bookshelf in Walnut Colour<br> $1222</p>
    <div class="d-grid gap-2">
      <button class="btn btn-secondary" type="button">Add to Cart</button>
     </div>
    <div class="d-flex justify-content-between align-items-center">
      
  </div>
</div>
</div>

{% endblock body %}
    

     
    

        
  