{% extends 'item.html' %}
{% block title %}
Chairs
{% endblock title %}


{% block body %}
<div class="container">
    <div class="col-md-12 p-mob-0">
        <h2 class="page-title" style="color: #0d6efd;text-Britannic Bold:center">CHAIRS</h2>
    <div>
<div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair1.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $1244</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair2.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $4355</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          
        <div class="d-flex justify-content-between align-items-center">
        </div>
          </div>
        </div>
      </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair3.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $9888</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair4.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $3452</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair5.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $7788</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
         
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair6.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $4677</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
         
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair7.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $3434</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair8.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $6000</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
      
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair9.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $3455</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair10.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $6755</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
         
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair11.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $9332</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair12.jpg" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $7854</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
       
         
        <div class="d-flex justify-content-between align-items-center">
        </div>
    </div>
  </div>
</div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair13.jpg" style="border: double;" height="350" width="415"/>
      </a>
      <div class="card-body">
        <p class="card-text" style="text-align:center">Chair<br> $7896</p>
        <div class="d-grid gap-2">
          <button class="btn btn-secondary" type="button">Add to Cart</button>
         </div>
        
        <div class="d-flex justify-content-between align-items-center">
        </div>
      </div>
    </div>
  </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair14.jpg" style="border: double;" height="350" width="415"/>
      </a>
      <div class="card-body">
        <p class="card-text" style="text-align:center">Bornholm Engineered Wood Queen Size Box Storage Upholstered Bed In Finish<br> $4563</p>
        <div class="d-grid gap-2">
          <button class="btn btn-secondary" type="button">Add to Cart</button>
         </div>
 
        <div class="d-flex justify-content-between align-items-center">
        </div>
      </div>
    </div>
  </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair15.jpg" style="border: double;" height="350" width="415"/>
      </a>
      <div class="card-body">
        <p class="card-text" style="text-align:center">Arabia Capra Solid Wood 6 Seater Dining Table With Set Of Chairs In Teak Finish<br> $6784</p>
        <div class="d-grid gap-2">
          <button class="btn btn-secondary" type="button">Add to Cart</button>
         </div>
  
        <div class="d-flex justify-content-between align-items-center">
          
        </div>
      </div>
    </div>
  </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair16.jpg" style="border: double;" height="350" width="415"/>
      </a>
      <div class="card-body">
        <p class="card-text" style="text-align:center">Madonna Lounge Chair In Black Colour<br> $2343</p>
        <div class="d-grid gap-2">
          <button class="btn btn-secondary" type="button">Add to Cart</button>
         </div>
        
 
        <div class="d-flex justify-content-between align-items-center">
         
        </div>
      </div>
    </div>
  </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair17.jpg" style="border: double;" height="350" width="415"/>
      </a>
      <div class="card-body">
        <p class="card-text" style="text-align:center">Madonna Lounge Chair In Black Colour<br> $6746</p>
        <div class="d-grid gap-2">
          <button class="btn btn-secondary" type="button">Add to Cart</button>
         </div>
 
        <div class="d-flex justify-content-between align-items-center">
         
        </div>
      </div>
    </div>
  </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="/static/chair18.jpg" style="border: double;" height="350" width="415"/>
      </a>
      <div class="card-body">
        <p class="card-text" style="text-align:center">Napper Sofa - Single Seater<br> $6785</p>
        <div class="d-grid gap-2">
          <button class="btn btn-secondary" type="button">Add to Cart</button>
         </div>
 
        <div class="d-flex justify-content-between align-items-center">
          
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock body %}   