{% extends 'item.html' %}
{% block title %}
Home page
{% endblock title %}


{% block body %}
<div id="carouselExampleControls"  class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/home_image_1.jpg" height="470" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/home_image_2.jpg"  height="470" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/home_image_3.jpg" height="470" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container">
    <div class="col-md-12 p-mob-0">
        <h2 class="page-title" style="color: #0d6efd;text-Britannic Bold:center">Living Room Furniture</h2>
        
    </div>
</div>

  <div class="container my-2">
  <h3 class="my-2" style="color: #3d2277;text-align:center">Explore Our Furniture Range</h3>
  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <a class="Sofa-item " href="#" >
            <input type="image" src="/static/home1.png" style="border: double;" height="350" width="415"/>
        </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Super Soft Grey Sofa <br> $500</p>
                <div class="d-grid gap-2">
                 <button class="btn btn-secondary" type="button">Add to Cart</button>
                </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <a class="Sofa-item " href="#" >
            <input type="image" src="/static/home2.jpg" style="border: double;" height="350" width="415"/>
        </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Black Chair with Brown Cover<br> $2499</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <a class="Sofa-item " href="#" >
            <input type="image" src="/static/home3.jpg" style="border: double;" height="350" width="415"/>
        </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center" >Bornholm Engineered Wood Queen <br> $1000</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card shadow-sm">
          
          <a class="Sofa-item " href="#" >
            <input type="image" src="/static/home4.jpg" style="border: double;" height="350" width="415"/>
        </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Arabia Capra Solid Wood 6 Seater Dining Table<br> $2500</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
           
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <a class="Sofa-item " href="#" >
            <input type="image" src="/static/home5.jpg" style="border: double;" height="350" width="415"/>
        </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Zephyr Solid Wood 2 Door Wardrobe In Teak Finish<br> $2600</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <a class="Sofa-item " href="#" >
            <input type="image" src="/static/home6.jpg" style="border: double;" height="350" width="415"/>
        </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Aquila Solid Wood Dining Bench<br> $3455</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
          </div>
        </div>
      </div>
    
      <div class="col">
        <div class="card shadow-sm">
          <a class="Sofa-item " href="#" >
            <input type="image" src="/static/home7.jpg" style="border: double;" height="350" width="415"/>
        </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Madonna Lounge Chair In Black Colour<br> $7899</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <a class="Sofa-item " href="#" >
            <input type="image" src="/static/home8.jpg" style="border: double;" height="350" width="415"/>
        </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Napper Sofa - Single Seater<br> $5687</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <a class="Sofa-item " href="#" >
            <input type="image" src="/static/home9.webp" style="border: double;" height="350" width="415"/>
        </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Checkers 5 Tier Bookshelf in Walnut Colour<br> $6570</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
