{% extends 'item.html' %}
{% block title %}
Lamps
{% endblock title %}


{% block body %}
<div class="container">
    <div class="col-md-12 p-mob-0">
        <h2 class="page-title" style="color: #0d6efd;text-Britannic Bold:center">LAMPS</h2>
    <div>
<div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp1.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $9584</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp2.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $6772</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp3.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $2330</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp4.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $2988</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp5.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $3400</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp6.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $5730</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp7.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $858</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp8.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $4662</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp9.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $6884</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp10.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $1000</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp11.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $2555</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
        </div>
      </div>
    </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp12.jpg" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Chair<br> $4666</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp13.jpg" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Bornholm Engineered Wood Queen Size Box Storage Upholstered Bed In Finish<br> $5772</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp14.jpg" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Arabia Capra Solid Wood 6 Seater Dining Table With Set Of Chairs In Teak Finish<br> $3566</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp15.jpg" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Madonna Lounge Chair In Black Colour<br> $3452</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
             
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp16.jpg" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Madonna Lounge Chair In Black Colour<br> $8966</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
             
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp17.jpg" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Napper Sofa - Single Seater<br> $2355</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <a class="Sofa-item " href="#" >
              <input type="image" src="/static/lamp18.jpg" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Checkers 5 Tier Bookshelf in Walnut Colour<br> $5469</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock body %}

          