{% extends 'item.html' %}
{% block title %}
Shelves
{% endblock title %}


{% block body %}
<div class="container">
    <div class="col-md-12 p-mob-0">
        <h2 class="page-title" style="color: #0d6efd;text-Britannic Bold:center">SHELVES</h2>
    <div>
<div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve1.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $2981</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve2.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $2822</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve3.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $2832</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve4.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $3289</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve5.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $4833</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve6.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $4672</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve7.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $4673</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve8.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $1900</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve9.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $1600</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve10.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $1883</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve11.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $9882</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve12.jpg" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $1233</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
        </div>
      </div>
    </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve13.jpg" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Chair<br> $9511</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve14.jpg" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Bornholm Engineered Wood Queen Size Box Storage Upholstered Bed In Finish<br> $8001</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve15.jpg" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Arabia Capra Solid Wood 6 Seater Dining Table With Set Of Chairs In Teak Finish<br> $9321</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve16.jpg" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Madonna Lounge Chair In Black Colour<br> $1200</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
             
            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve17.jpg" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Madonna Lounge Chair In Black Colour<br> $2345</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
             
            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="/static/shelve18.jpg" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Napper Sofa - Single Seater<br> $3562</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
{% endblock body %}