{% extends 'item.html' %}
{% block title %}
Sofa
{% endblock title %}


{% block body %}
<div class="container">
    <div class="col-md-12 p-mob-0">
        <h2 class="page-title" style="color: #0d6efd;text-Britannic Bold:center">SOFA</h2>
    <div>
<div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="/bed" >
            <input type="image" src="/static/sofa1.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Long Set of Grey colour sofa<br> $3400</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="/static/sofa2.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Yellow Two seater sofa<br> $4500</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted"></small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="/static/sofa3.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Classic Modern designed<br> $2731</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
           
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="/static/sofa4.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Arabia Capra Solid Wood Sofa<br> $1734</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="/static/sofa5.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Zephyr Solid White Plated Sofa<br> $4672</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="/static/sofa6.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Aquila Solid Wood Dining Bench In Semi Gloss Finish<br> $7383</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>
  
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="/static/sofa7.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Madonna Lounge Chair In Black Colour<br> $1200</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="/static/sofa8.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Napper Sofa - Single Seater<br> $1099</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="/static/sofa9.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Checkers 5 Tier Bookshelf in Walnut Colour<br> $1239</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="/static/sofa10.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $9982</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
        </style>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="/static/sofa11.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Chair<br> $1923</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="/static/sofa12.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Bornholm Engineered Wood Queen Size Box Storage Upholstered Bed In Finish<br> $2788</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="/static/sofa13.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Arabia Capra Solid Wood 6 Seater Dining Table With Set Of Chairs In Teak Finish<br> $3576</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="/static/sofa14.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Zephyr Solid Wood 2 Door Wardrobe In Teak Finish<br> $9283</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="/static/sofa15.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Aquila Solid Wood Dining Bench In Semi Gloss Finish<br> $2671</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
            
          </div>
        </div>
      </div>
    </div>
  
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="/static/sofa16.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Madonna Lounge Chair In Black Colour<br> $4090</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
           
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="/static/sofa17.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Napper Sofa - Single Seater<br> $1288</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="/static/sofa18.jpg" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Checkers 5 Tier Bookshelf in Walnut Colour<br> $3272</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}